body {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url('a1648ceed516f7f1e47eff8e7e7093af.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding-top: 50px;
}


h3 {
    color: black;
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    background-color:rgb(255, 247, 247);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: -16px -16px 30px rgba(255, 255, 255, 0.1), 10px 10px 30px rgba(0, 0, 0, 0.2);
    opacity: 70%;
}


.calculator {
    background-color:rgb(108, 72, 197);
    padding: 30px 30px 60px 30px;
    border-radius: 10px;
    border-color: black;
    box-shadow: 10px 10px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: black;
    cursor: pointer;
    margin: 7px;
    margin-left: 15px;
}

form .display {
    display: flex;
    margin: 5px;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 35px;
    box-shadow: -8px;
}

form input.equal {
    width: 120px;
}

form input.operator {
    color: white;
}

.profile{
    height: 32px;
    width: 32px;
    border-radius: 100px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-align: left;
    font-size: small;
    float: left;
    margin-left: 10px;
    margin-top: 17px;
}